body .logo{
  background-color: rgba(20, 99, 141, 0.975);
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  #brewery-bar .topnav a{
    display: inline-block;
    color: #6edbaca7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: black;
  }
  .breweryInfo #detailed-info{
    height: 220px;
    padding: 30px;
    font-size: 24px;
    border: groove;
    border-width: medium;
    border-color: orange;
    text-align: center;
  }
  #finalize-votes-review{
    align-items: center;
  }
  #likes{
    background-color: rgb(49, 109, 179);
    color: white;
    font-size: 18px;
    border-radius: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  #dislikes{
    background-color: rgb(49, 109, 179);
    color: white;
    font-size: 18px;
    border-radius: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  